<head>
    <title>FORTUNES</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style type="text/css">h2{font-family: 'Garamond'}</style>
</head>

<body style="background-color: #00D5F2">
    <center style="margin: 0px; padding: 0px">

        <img src = "https://ew.com/thmb/7xE9E6NjONRIjH175v6sCgVMWkA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/aladdin-02_0_0-4bd3a8c9014f42128e2574ad45400cba.jpg" height="150" style="width: 100%">
        <h1 style="font-family: 'Garamond' ">Welcome, all! Let's see what awaits you in the future</h1>
        <hr style="color: #FFEC2D; background-color: #FFEC2D; height: 2px; width: 60%;">
        <a href="/fortune">click here to see your fortune</a>


    </center>
</body>
</html>