<html>
<head>
	<title>Fortune</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style type="text/css">h2{font-family: 'Garamond'}</style>
</head>

<body style="background-color: #00D5F2">
	<center style="margin: 0px; padding: 0px">

		<img src = "https://cdn.mos.cms.futurecdn.net/oTwHtwzKZX3k2KuJAMjgdG-1200-80.jpg" height="150" style="width: 100%">
		<hr style="color: #FFEC2D; background-color: #FFEC2D; height: 2px; width: 60%;">

<!-- __________ -->
	<h2>Your fortune is: {{selected}}!</h2>
<!-- __________ -->

	</center>
</body>
</html>