<html>
<head>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style type="text/css">h2{font-family: 'Garamond'}</style>
</head>
<body style="background-color: #00D5F2">
    <center style="margin: 0px; padding: 0px">
        <h1 style="font-family: 'Garamond' ">Logging Out</h1>
        <a href="/signout"><button>Signout</button></a>
        <hr style="color: #FFEC2D; background-color: #FFEC2D; height: 2px; width: 60%;">
        <h3> Enter a quote </h3>
        <div>
        <input type="text"  name="quote" minlength="6" placeholder="Write Your Quote" required>
        </div>

        <div >
                
        <a href="/home"><button>Submit</button></a>
        </div>
        
    </center>
</body>
</html>