<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
</head>
<body style="background-color: #00D5F2">
    <center style="margin: 0px; padding: 0px">
        <h1>Thank you for submitting a quote!</h1>
        <hr style="color: #FFEC2D; background-color: #FFEC2D; height: 2px; width: 60%;">
        <a href="/home"><button>Submit another quote</button></a>
        <a href="/display"><button>See all the quotes submitted</button></a>
    </center>
</body>
</html>
